* {
  font: "Roboto Mono", cursive;
}

body{
  margin: 0;
  padding: 0;
}

.container{
  width: 1000px;
  margin: 0 auto;
}

nav a{
  width: 100px;
  text-align: center;
  color: white;
  border-radius: 10px;
  padding: 12px;
  background-color: #5ED3EB;
  margin: 10px 150px;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
}


nav a:first-child{
  background-color: #FF764E;
  margin: 10px 75px;
  padding: 5px;
}

nav a:last-child{
  background-color: #FFCD69;
  margin: 10px 75px;
}

nav a:hover{
  background-color: black;
  color: white;
}

main{
  display: block;
  padding: 50px;
}

main img{
  display: inline-block;
  border-radius: 100%;
  width: 200px;
  height: 200px;
}

main div{
  display: inline-block;
  width: 750px;
  vertical-align: top;
  text-align: center;
}

main h1{
  font: "Chelsea Market";
}

.aboutUsSection{
  background-color: #DDB9A3;
  color: white;
  padding: 0 10px;
  text-align: center;
  border-radius: 10px;
}

.featureSection div{
  width: 30%;
  margin: auto;
}

.featureSection img{
  width: 30%;
  display: block;
  margin: auto;
}

.featureSection p{
  text-align: center;
}

.featureSection span{
  font-weight: bold;
}

footer{
  background-color: #F9E7DC;
}

footer img{
  height: 200px;
  width: 100%;
  margin: auto;
  display: block;
  object-fit: cover;
  object-position: 100% 0%;
}